DS_Store

*.ipa
*.cer
*.zip
fastlane/screenshots
fastlane/*.itmsp/
fastlane/Error*
AppStore*
report.xml
Preview.html
Pods

## Build generated
build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
